.loader-container {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
  line-height: 1.6rem;
}

.loader-container-inner {
  /* margin-top: 40vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 10;
}

/* tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
